# Enable recommended rules
lint.select = [
    "E",    # pycodestyle errors
    "F",    # pyflakes
    "W",    # pycodestyle warnings
    "C90",  # mccabe
    "I",    # isort
    "N",    # pep8-naming
    "D",    # pydocstyle
    "D204", # blank like after class docstring
    "UP",   # pyupgrade
    "YTT",  # flake8-2020
    "ANN",  # flake8-annotations
    "S",    # flake8-bandit
    "BLE",  # flake8-blind-except
    "FBT",  # flake8-boolean-trap
    "B",    # flake8-bugbear
    "A",    # flake8-builtins
    "COM",  # flake8-commas
    "C4",   # flake8-comprehensions
    "DTZ",  # flake8-datetimez
    "T10",  # flake8-debugger
    "DJ",   # flake8-django
    "EM",   # flake8-errmsg
    "EXE",  # flake8-executable
    "ISC",  # flake8-implicit-str-concat
    "ICN",  # flake8-import-conventions
    "G",    # flake8-logging-format
    "INP",  # flake8-no-pep420
    "PIE",  # flake8-pie
    "T20",  # flake8-print
    "PYI",  # flake8-pyi
    "PT",   # flake8-pytest-style
    "Q",    # flake8-quotes
    "RSE",  # flake8-raise
    "RET",  # flake8-return
    "SLF",  # flake8-self
    "SIM",  # flake8-simplify
    "TID",  # flake8-tidy-imports
    "TCH",  # flake8-type-checking
    "ARG",  # flake8-unused-arguments
    "PTH",  # flake8-use-pathlib
    "ERA",  # eradicate
    "PD",   # pandas-vet
    "PGH",  # pygrep-hooks
    "PL",   # Pylint
    "TRY",  # tryceratops
    "RUF",  # Ruff-specific rules
]

lint.ignore = [
    #Ignores allowable in all repos
    "E501",   # Never enforce `E501` (line length violations)
    "ANN401", # Dynamically typed expressions (typing.Any)
    "PYI041", # complaints about int | float
    "COM812", # We are using ruff-formatter. Docs recommend disabling rule. 
]

# Allow autofix for all enabled rules (when `--fix`) is provided
lint.fixable = [
    "A",
    "B",
    "C",
    "D",
    "E",
    "F",
    "G",
    "I",
    "N",
    "Q",
    "S",
    "T",
    "W",
    "ANN",
    "ARG",
    "BLE",
    "COM",
    "DJ",
    "DTZ",
    "EM",
    "ERA",
    "EXE",
    "FBT",
    "ICN",
    "INP",
    "ISC",
    "NPY",
    "PD",
    "PGH",
    "PIE",
    "PL",
    "PT",
    "PTH",
    "PYI",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "SLF",
    "TCH",
    "TID",
    "TRY",
    "UP",
    "YTT",
]

lint.unfixable = []

# Exclude a variety of commonly ignored directories
lint.exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

# Allow unused variables when underscore-prefixed
lint.dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.11 per project rules
target-version = "py311"

[lint.pydocstyle]
convention = "google"


[lint.pylint]
# Aim to reduce this when refactoring
max-args = 8
max-returns = 3

[lint.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "double"

[lint.pep8-naming]
classmethod-decorators = ["classmethod", "pydantic.validator"]

[lint.per-file-ignores]
"test_*.py" = [
  "S101",    # allow assert in unit tests
  "PLR2004", # allow magic numbers in unit tests
  "SLF001",  # allow private member access in tests
]

"__init__.py" = [
  "D104", # ignore missing docstring
]

[lint.flake8-type-checking]
# Exempt classes that list any of the enumerated classes as a base class from needing
# to be moved into type-checking blocks.
runtime-evaluated-base-classes = ["pydantic.BaseModel"]
